## DataFrame from list

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [2]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## DataFrame from dictionary

In [4]:
webster = {"Aardwark": "An animal",
           "Banana": "A delicious fruit",
           "Cyan": "A color"}

pd.Series(webster)

Aardwark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

## Series attributes

In [5]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [6]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s.dtype

dtype('O')

## Series methods

In [9]:
prices=[2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [10]:
s.sum()

8.8

In [11]:
s.product()

18.095480000000006

In [12]:
s.mean()

2.9333333333333336

# Parameters and arguments

In [13]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
pd.Series(fruits, weekdays)
pd.Series(index=fruits, data=weekdays)

Apple           Monday
Orange         Tuesday
Plum         Wednesday
Grape         Thursday
Blueberry       Friday
dtype: object

In [14]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]
pd.Series(data=fruits, index=weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import CSV from series

In [15]:
pokemon = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
5       Charizard
6        Squirtle
7       Wartortle
8       Blastoise
9        Caterpie
10        Metapod
11     Butterfree
12         Weedle
13         Kakuna
14       Beedrill
15         Pidgey
16      Pidgeotto
17        Pidgeot
18        Rattata
19       Raticate
20        Spearow
21         Fearow
22          Ekans
23          Arbok
24        Pikachu
25         Raichu
26      Sandshrew
27      Sandslash
28        Nidoran
29       Nidorina
          ...
691     Clauncher
692     Clawitzer
693    Helioptile
694     Heliolisk
695        Tyrunt
696     Tyrantrum
697        Amaura
698       Aurorus
699       Sylveon
700      Hawlucha
701       Dedenne
702       Carbink
703         Goomy
704       Sliggoo
705        Goodra
706        Klefki
707      Phantump
708     Trevenant
709     Pumpkaboo
710     Gourgeist
711      Bergmite
712       Avalugg
713        Noibat
714       Noivern
715       Xerneas
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [16]:
stock = pd.read_csv("data/google_stock_price.csv", squeeze=True)
stock

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [17]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [18]:
stock.tail(1)

3011    782.22
Name: Stock Price, dtype: float64

## Series attributes

In [19]:
pokemon.values

array(['Bulbasaur', 'Ivysaur', 'Venusaur', 'Charmander', 'Charmeleon',
       'Charizard', 'Squirtle', 'Wartortle', 'Blastoise', 'Caterpie',
       'Metapod', 'Butterfree', 'Weedle', 'Kakuna', 'Beedrill', 'Pidgey',
       'Pidgeotto', 'Pidgeot', 'Rattata', 'Raticate', 'Spearow', 'Fearow',
       'Ekans', 'Arbok', 'Pikachu', 'Raichu', 'Sandshrew', 'Sandslash',
       'Nidoran', 'Nidorina', 'Nidoqueen', 'Nidoran♂', 'Nidorino',
       'Nidoking', 'Clefairy', 'Clefable', 'Vulpix', 'Ninetales',
       'Jigglypuff', 'Wigglytuff', 'Zubat', 'Golbat', 'Oddish', 'Gloom',
       'Vileplume', 'Paras', 'Parasect', 'Venonat', 'Venomoth', 'Diglett',
       'Dugtrio', 'Meowth', 'Persian', 'Psyduck', 'Golduck', 'Mankey',
       'Primeape', 'Growlithe', 'Arcanine', 'Poliwag', 'Poliwhirl',
       'Poliwrath', 'Abra', 'Kadabra', 'Alakazam', 'Machop', 'Machoke',
       'Machamp', 'Bellsprout', 'Weepinbell', 'Victreebel', 'Tentacool',
       'Tentacruel', 'Geodude', 'Graveler', 'Golem', 'Ponyta', 'Rapidash',
       'Slowpoke', 'Slowbro', 'Magnemite', 'Magneton', "Farfetch'd",
       'Doduo', 'Dodrio', 'Seel', 'Dewgong', 'Grimer', 'Muk', 'Shellder',
       'Cloyster', 'Gastly', 'Haunter', 'Gengar', 'Onix', 'Drowzee',
       'Hypno', 'Krabby', 'Kingler', 'Voltorb', 'Electrode', 'Exeggcute',
       'Exeggutor', 'Cubone', 'Marowak', 'Hitmonlee', 'Hitmonchan',
       'Lickitung', 'Koffing', 'Weezing', 'Rhyhorn', 'Rhydon', 'Chansey',
       'Tangela', 'Kangaskhan', 'Horsea', 'Seadra', 'Goldeen', 'Seaking',
       'Staryu', 'Starmie', 'Mr. Mime', 'Scyther', 'Jynx', 'Electabuzz',
       'Magmar', 'Pinsir', 'Tauros', 'Magikarp', 'Gyarados', 'Lapras',
       'Ditto', 'Eevee', 'Vaporeon', 'Jolteon', 'Flareon', 'Porygon',
       'Omanyte', 'Omastar', 'Kabuto', 'Kabutops', 'Aerodactyl',
       'Snorlax', 'Articuno', 'Zapdos', 'Moltres', 'Dratini', 'Dragonair',
       'Dragonite', 'Mewtwo', 'Mew', 'Chikorita', 'Bayleef', 'Meganium',
       'Cyndaquil', 'Quilava', 'Typhlosion', 'Totodile', 'Croconaw',
       'Feraligatr', 'Sentret', 'Furret', 'Hoothoot', 'Noctowl', 'Ledyba',
       'Ledian', 'Spinarak', 'Ariados', 'Crobat', 'Chinchou', 'Lanturn',
       'Pichu', 'Cleffa', 'Igglybuff', 'Togepi', 'Togetic', 'Natu',
       'Xatu', 'Mareep', 'Flaaffy', 'Ampharos', 'Bellossom', 'Marill',
       'Azumarill', 'Sudowoodo', 'Politoed', 'Hoppip', 'Skiploom',
       'Jumpluff', 'Aipom', 'Sunkern', 'Sunflora', 'Yanma', 'Wooper',
       'Quagsire', 'Espeon', 'Umbreon', 'Murkrow', 'Slowking',
       'Misdreavus', 'Unown', 'Wobbuffet', 'Girafarig', 'Pineco',
       'Forretress', 'Dunsparce', 'Gligar', 'Steelix', 'Snubbull',
       'Granbull', 'Qwilfish', 'Scizor', 'Shuckle', 'Heracross',
       'Sneasel', 'Teddiursa', 'Ursaring', 'Slugma', 'Magcargo', 'Swinub',
       'Piloswine', 'Corsola', 'Remoraid', 'Octillery', 'Delibird',
       'Mantine', 'Skarmory', 'Houndour', 'Houndoom', 'Kingdra', 'Phanpy',
       'Donphan', 'Porygon2', 'Stantler', 'Smeargle', 'Tyrogue',
       'Hitmontop', 'Smoochum', 'Elekid', 'Magby', 'Miltank', 'Blissey',
       'Raikou', 'Entei', 'Suicune', 'Larvitar', 'Pupitar', 'Tyranitar',
       'Lugia', 'Ho-oh', 'Celebi', 'Treecko', 'Grovyle', 'Sceptile',
       'Torchic', 'Combusken', 'Blaziken', 'Mudkip', 'Marshtomp',
       'Swampert', 'Poochyena', 'Mightyena', 'Zigzagoon', 'Linoone',
       'Wurmple', 'Silcoon', 'Beautifly', 'Cascoon', 'Dustox', 'Lotad',
       'Lombre', 'Ludicolo', 'Seedot', 'Nuzleaf', 'Shiftry', 'Taillow',
       'Swellow', 'Wingull', 'Pelipper', 'Ralts', 'Kirlia', 'Gardevoir',
       'Surskit', 'Masquerain', 'Shroomish', 'Breloom', 'Slakoth',
       'Vigoroth', 'Slaking', 'Nincada', 'Ninjask', 'Shedinja', 'Whismur',
       'Loudred', 'Exploud', 'Makuhita', 'Hariyama', 'Azurill',
       'Nosepass', 'Skitty', 'Delcatty', 'Sableye', 'Mawile', 'Aron',
       'Lairon', 'Aggron', 'Meditite', 'Medicham', 'Electrike',
       'Manectric', 'Plusle', 'Minun', 'Volbeat', 'Illumise', 'Roselia',
       'Gulpin', 'Swalot', 'Carvanha', 'Sharpedo', 'Wailmer', 'Wailord',
       'Numel', 'Camerupt', 'Torkoal', 'Spoink', 'Grumpig', 'Spinda',
       'Trapinch', 'Vibrava', 'Flygon', 'Cacnea', 'Cacturne', 'Swablu',
       'Altaria', 'Zangoose', 'Seviper', 'Lunatone', 'Solrock',
       'Barboach', 'Whiscash', 'Corphish', 'Crawdaunt', 'Baltoy',
       'Claydol', 'Lileep', 'Cradily', 'Anorith', 'Armaldo', 'Feebas',
       'Milotic', 'Castform', 'Kecleon', 'Shuppet', 'Banette', 'Duskull',
       'Dusclops', 'Tropius', 'Chimecho', 'Absol', 'Wynaut', 'Snorunt',
       'Glalie', 'Spheal', 'Sealeo', 'Walrein', 'Clamperl', 'Huntail',
       'Gorebyss', 'Relicanth', 'Luvdisc', 'Bagon', 'Shelgon',
       'Salamence', 'Beldum', 'Metang', 'Metagross', 'Regirock', 'Regice',
       'Registeel', 'Latias', 'Latios', 'Kyogre', 'Groudon', 'Rayquaza',
       'Jirachi', 'Deoxys', 'Turtwig', 'Grotle', 'Torterra', 'Chimchar',
       'Monferno', 'Infernape', 'Piplup', 'Prinplup', 'Empoleon',
       'Starly', 'Staravia', 'Staraptor', 'Bidoof', 'Bibarel',
       'Kricketot', 'Kricketune', 'Shinx', 'Luxio', 'Luxray', 'Budew',
       'Roserade', 'Cranidos', 'Rampardos', 'Shieldon', 'Bastiodon',
       'Burmy', 'Wormadam', 'Mothim', 'Combee', 'Vespiquen', 'Pachirisu',
       'Buizel', 'Floatzel', 'Cherubi', 'Cherrim', 'Shellos', 'Gastrodon',
       'Ambipom', 'Drifloon', 'Drifblim', 'Buneary', 'Lopunny',
       'Mismagius', 'Honchkrow', 'Glameow', 'Purugly', 'Chingling',
       'Stunky', 'Skuntank', 'Bronzor', 'Bronzong', 'Bonsly', 'Mime Jr.',
       'Happiny', 'Chatot', 'Spiritomb', 'Gible', 'Gabite', 'Garchomp',
       'Munchlax', 'Riolu', 'Lucario', 'Hippopotas', 'Hippowdon',
       'Skorupi', 'Drapion', 'Croagunk', 'Toxicroak', 'Carnivine',
       'Finneon', 'Lumineon', 'Mantyke', 'Snover', 'Abomasnow', 'Weavile',
       'Magnezone', 'Lickilicky', 'Rhyperior', 'Tangrowth', 'Electivire',
       'Magmortar', 'Togekiss', 'Yanmega', 'Leafeon', 'Glaceon',
       'Gliscor', 'Mamoswine', 'Porygon-Z', 'Gallade', 'Probopass',
       'Dusknoir', 'Froslass', 'Rotom', 'Uxie', 'Mesprit', 'Azelf',
       'Dialga', 'Palkia', 'Heatran', 'Regigigas', 'Giratina',
       'Cresselia', 'Phione', 'Manaphy', 'Darkrai', 'Shaymin', 'Arceus',
       'Victini', 'Snivy', 'Servine', 'Serperior', 'Tepig', 'Pignite',
       'Emboar', 'Oshawott', 'Dewott', 'Samurott', 'Patrat', 'Watchog',
       'Lillipup', 'Herdier', 'Stoutland', 'Purrloin', 'Liepard',
       'Pansage', 'Simisage', 'Pansear', 'Simisear', 'Panpour',
       'Simipour', 'Munna', 'Musharna', 'Pidove', 'Tranquill', 'Unfezant',
       'Blitzle', 'Zebstrika', 'Roggenrola', 'Boldore', 'Gigalith',
       'Woobat', 'Swoobat', 'Drilbur', 'Excadrill', 'Audino', 'Timburr',
       'Gurdurr', 'Conkeldurr', 'Tympole', 'Palpitoad', 'Seismitoad',
       'Throh', 'Sawk', 'Sewaddle', 'Swadloon', 'Leavanny', 'Venipede',
       'Whirlipede', 'Scolipede', 'Cottonee', 'Whimsicott', 'Petilil',
       'Lilligant', 'Basculin', 'Sandile', 'Krokorok', 'Krookodile',
       'Darumaka', 'Darmanitan', 'Maractus', 'Dwebble', 'Crustle',
       'Scraggy', 'Scrafty', 'Sigilyph', 'Yamask', 'Cofagrigus',
       'Tirtouga', 'Carracosta', 'Archen', 'Archeops', 'Trubbish',
       'Garbodor', 'Zorua', 'Zoroark', 'Minccino', 'Cinccino', 'Gothita',
       'Gothorita', 'Gothitelle', 'Solosis', 'Duosion', 'Reuniclus',
       'Ducklett', 'Swanna', 'Vanillite', 'Vanillish', 'Vanilluxe',
       'Deerling', 'Sawsbuck', 'Emolga', 'Karrablast', 'Escavalier',
       'Foongus', 'Amoonguss', 'Frillish', 'Jellicent', 'Alomomola',
       'Joltik', 'Galvantula', 'Ferroseed', 'Ferrothorn', 'Klink',
       'Klang', 'Klinklang', 'Tynamo', 'Eelektrik', 'Eelektross',
       'Elgyem', 'Beheeyem', 'Litwick', 'Lampent', 'Chandelure', 'Axew',
       'Fraxure', 'Haxorus', 'Cubchoo', 'Beartic', 'Cryogonal', 'Shelmet',
       'Accelgor', 'Stunfisk', 'Mienfoo', 'Mienshao', 'Druddigon',
       'Golett', 'Golurk', 'Pawniard', 'Bisharp', 'Bouffalant', 'Rufflet',
       'Braviary', 'Vullaby', 'Mandibuzz', 'Heatmor', 'Durant', 'Deino',
       'Zweilous', 'Hydreigon', 'Larvesta', 'Volcarona', 'Cobalion',
       'Terrakion', 'Virizion', 'Tornadus', 'Thundurus', 'Reshiram',
       'Zekrom', 'Landorus', 'Kyurem', 'Keldeo', 'Meloetta', 'Genesect',
       'Chespin', 'Quilladin', 'Chesnaught', 'Fennekin', 'Braixen',
       'Delphox', 'Froakie', 'Frogadier', 'Greninja', 'Bunnelby',
       'Diggersby', 'Fletchling', 'Fletchinder', 'Talonflame',
       'Scatterbug', 'Spewpa', 'Vivillon', 'Litleo', 'Pyroar', 'Flabébé',
       'Floette', 'Florges', 'Skiddo', 'Gogoat', 'Pancham', 'Pangoro',
       'Furfrou', 'Espurr', 'Meowstic', 'Honedge', 'Doublade',
       'Aegislash', 'Spritzee', 'Aromatisse', 'Swirlix', 'Slurpuff',
       'Inkay', 'Malamar', 'Binacle', 'Barbaracle', 'Skrelp', 'Dragalge',
       'Clauncher', 'Clawitzer', 'Helioptile', 'Heliolisk', 'Tyrunt',
       'Tyrantrum', 'Amaura', 'Aurorus', 'Sylveon', 'Hawlucha', 'Dedenne',
       'Carbink', 'Goomy', 'Sliggoo', 'Goodra', 'Klefki', 'Phantump',
       'Trevenant', 'Pumpkaboo', 'Gourgeist', 'Bergmite', 'Avalugg',
       'Noibat', 'Noivern', 'Xerneas', 'Yveltal', 'Zygarde', 'Diancie',
       'Hoopa', 'Volcanion'], dtype=object)

In [20]:
stock.index

RangeIndex(start=0, stop=3012, step=1)

In [21]:
pokemon.dtype

dtype('O')

In [22]:
stock.is_unique

False

In [23]:
pokemon.ndim

1

In [24]:
stock.shape

(3012,)

In [25]:
pokemon.size

721

In [26]:
stock.name

'Stock Price'

In [27]:
stock.name = "prices"
stock.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: prices, dtype: float64

## Sorting values

In [28]:
pokemon.sort_values()

459     Abomasnow
62           Abra
358         Absol
616      Accelgor
680     Aegislash
141    Aerodactyl
305        Aggron
189         Aipom
64       Alakazam
593     Alomomola
333       Altaria
697        Amaura
423       Ambipom
590     Amoonguss
180      Ampharos
346       Anorith
23          Arbok
58       Arcanine
492        Arceus
565        Archen
566      Archeops
167       Ariados
347       Armaldo
682    Aromatisse
303          Aron
143      Articuno
530        Audino
698       Aurorus
712       Avalugg
609          Axew
          ...
69     Weepinbell
109       Weezing
546    Whimsicott
543    Whirlipede
339      Whiscash
292       Whismur
39     Wigglytuff
277       Wingull
201     Wobbuffet
526        Woobat
193        Wooper
412      Wormadam
264       Wurmple
359        Wynaut
177          Xatu
715       Xerneas
561        Yamask
192         Yanma
468       Yanmega
716       Yveltal
334      Zangoose
144        Zapdos
522     Zebstrika
643        Zekrom
262     Zigzagoon
570       Zoroark
569         Zorua
40          Zubat
633      Zweilous
717       Zygarde
Name: Pokemon, Length: 721, dtype: object

In [29]:
pokemon.sort_values().head(3)

459    Abomasnow
62          Abra
358        Absol
Name: Pokemon, dtype: object

In [30]:
pokemon.sort_values(ascending=False).head()

717     Zygarde
633    Zweilous
40        Zubat
569       Zorua
570     Zoroark
Name: Pokemon, dtype: object

In [31]:
stock.sort_values(ascending=False).head(1)

3011    782.22
Name: prices, dtype: float64

In [32]:
stock_series = stock.copy()

In [33]:
stock_series = stock.sort_values()
stock_series

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
7        50.95
14       51.10
13       51.10
8        51.13
3        52.38
15       52.61
4        52.95
6        53.02
16       53.70
5        53.90
1        54.10
2        54.65
17       55.69
18       55.94
19       56.93
20       58.69
22       58.86
26       59.07
23       59.13
21       59.62
25       59.86
24       60.35
27       63.37
29       64.74
28       65.47
         ...
2921    750.53
2846    751.61
2931    751.72
2881    752.00
2842    752.54
2936    752.67
2932    753.20
2935    753.93
2835    755.98
2834    756.60
2851    758.09
2861    758.88
2933    759.00
2937    759.14
2845    762.37
2841    762.38
2858    762.51
2844    763.25
2882    764.65
2934    766.61
2843    766.81
2840    767.04
3006    768.79
2860    771.00
3008    771.07
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: prices, Length: 3012, dtype: float64

In [34]:
stock_series = stock.copy()
stock_series.sort_values(inplace=True)
stock_series.head()

11    49.95
9     50.07
0     50.12
10    50.70
12    50.74
Name: prices, dtype: float64

## Index sorting

In [35]:
pokemon.sort_index(ascending=False).head()

720    Volcanion
719        Hoopa
718      Diancie
717      Zygarde
716      Yveltal
Name: Pokemon, dtype: object

## Set containtment

In [36]:
3 in [1, 2, 3, 4, 5]

True

In [37]:
100 in [1, 2, 3, 4, 5]

False

In [38]:
100 in pokemon

True

In [39]:
100 in pokemon.index

True

In [40]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [41]:
"Digimon" in pokemon.values

False

## Extracting values by index

In [42]:
pokemon[500]

'Oshawott'

In [43]:
pokemon[[100, 200, 300]]

100    Electrode
200        Unown
300     Delcatty
Name: Pokemon, dtype: object

In [44]:
pokemon[20:30]

20      Spearow
21       Fearow
22        Ekans
23        Arbok
24      Pikachu
25       Raichu
26    Sandshrew
27    Sandslash
28      Nidoran
29     Nidorina
Name: Pokemon, dtype: object

In [45]:
pokemon[:40]

0      Bulbasaur
1        Ivysaur
2       Venusaur
3     Charmander
4     Charmeleon
5      Charizard
6       Squirtle
7      Wartortle
8      Blastoise
9       Caterpie
10       Metapod
11    Butterfree
12        Weedle
13        Kakuna
14      Beedrill
15        Pidgey
16     Pidgeotto
17       Pidgeot
18       Rattata
19      Raticate
20       Spearow
21        Fearow
22         Ekans
23         Arbok
24       Pikachu
25        Raichu
26     Sandshrew
27     Sandslash
28       Nidoran
29      Nidorina
30     Nidoqueen
31      Nidoran♂
32      Nidorino
33      Nidoking
34      Clefairy
35      Clefable
36        Vulpix
37     Ninetales
38    Jigglypuff
39    Wigglytuff
Name: Pokemon, dtype: object

In [46]:
pokemon[-10:]

711     Bergmite
712      Avalugg
713       Noibat
714      Noivern
715      Xerneas
716      Yveltal
717      Zygarde
718      Diancie
719        Hoopa
720    Volcanion
Name: Pokemon, dtype: object

In [47]:
pokemon[-20:-10]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

## Values by index

In [48]:
pi = pd.read_csv("data/pokemon.csv", index_col="Pokemon", squeeze=True)
pi

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Raichu        Electric
Sandshrew       Ground
Sandslash       Ground
Nidoran         Poison
Nidorina        Poison
                ...
Clauncher        Water
Clawitzer        Water
Helioptile    Electric
Heliolisk     Electric
Tyrunt            Rock
Tyrantrum         Rock
Amaura            Rock
Aurorus           Rock
Sylveon          Fairy
Hawlucha      Fighting
Dedenne       Electric
Carbink           Rock
Goomy           Dragon
Sliggoo         Dragon
Goodra          Dragon
Klefki           Steel
Phantump         Ghost
Trevenant        Ghost
Pumpkaboo        Ghost
Gourgeist        Ghost
Bergmite           Ice
Avalugg            Ice
Noibat          Flying
Noivern         Flying
Xerneas          Fairy
Yveltal           Dark
Zygarde         Dragon
Diancie           Rock
Hoopa          Psychic
Volcanion         Fire
Name: Type, Length: 721, dtype: object

In [49]:
pi[0]

'Grass'

In [50]:
pi[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [51]:
pi["Bulbasaur"]

'Grass'

In [52]:
pi[["Charizard", "Jolteon"]]

Pokemon
Charizard        Fire
Jolteon      Electric
Name: Type, dtype: object

In [53]:
pi["Bulbasaur": "Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

## Getting items from a series

In [54]:
pi = pd.read_csv("data/pokemon.csv", index_col="Pokemon", squeeze=True)
pi.sort_index(inplace=True)
pi.head(3)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Name: Type, dtype: object

In [55]:
pi.get("Moltres")

'Fire'

In [56]:
pi.get(key=["Moltres", "Meowth"])

Pokemon
Moltres      Fire
Meowth     Normal
Name: Type, dtype: object

In [57]:
pi.get(key="Digimon")

In [58]:
## pi["Digimon"]  # thows an error
pi.get(key="Digimon", default="No pokemon")

'No pokemon'

In [59]:
pi.get(key="Charizard", default="No pokemon")

'Fire'

In [60]:
pi.get(key=["Charizard", "Digimon"], default="No pokemon")

Pokemon
Charizard    Fire
Digimon       NaN
Name: Type, dtype: object

## Math operations on series

In [63]:
stock.count()  ## No NaN values

3012

In [64]:
len(stock)  ## just number of all items including NaN

3012

In [65]:
stock.mean()

334.31009296148744

In [66]:
stock.sum() / stock.count()

334.3100929614874

In [67]:
stock.std()

173.18720477113106

In [69]:
stock.max()

782.22

In [70]:
stock.min()

49.95

In [71]:
stock.median()

283.315

In [72]:
stock.mode()  ## modus

0    291.21
dtype: float64

In [73]:
stock.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: prices, dtype: float64

## argmax/argmin methods

In [76]:
stock.idxmax()  # argmax

3011

In [77]:
stock.idxmin()  # argmin

11

In [78]:
stock[stock.idxmax()]

782.22

In [79]:
stock[stock.idxmin()]

49.95

## Counting values

In [80]:
pi.value_counts()

Water       105
Normal       93
Grass        66
Bug          63
Psychic      47
Fire         47
Rock         41
Electric     36
Ground       30
Dark         28
Poison       28
Fighting     25
Dragon       24
Ice          23
Ghost        23
Steel        22
Fairy        17
Flying        3
Name: Type, dtype: int64

In [81]:
pi.value_counts().sum()

721

In [82]:
pi.count()

721

In [84]:
pi.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

## Applying function on series

In [86]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [87]:
stock.apply(classify_performance)

0                OK
1                OK
2                OK
3                OK
4                OK
5                OK
6                OK
7                OK
8                OK
9                OK
10               OK
11               OK
12               OK
13               OK
14               OK
15               OK
16               OK
17               OK
18               OK
19               OK
20               OK
21               OK
22               OK
23               OK
24               OK
25               OK
26               OK
27               OK
28               OK
29               OK
           ...
2982    Incredible!
2983    Incredible!
2984    Incredible!
2985    Incredible!
2986    Incredible!
2987    Incredible!
2988    Incredible!
2989    Incredible!
2990    Incredible!
2991    Incredible!
2992    Incredible!
2993    Incredible!
2994    Incredible!
2995    Incredible!
2996    Incredible!
2997    Incredible!
2998    Incredible!
2999    Incredible!
3000    Incredible!
3001    Incredible!
3002    Incredible!
3003    Incredible!
3004    Incredible!
3005    Incredible!
3006    Incredible!
3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: prices, Length: 3012, dtype: object

In [88]:
stock.apply(classify_performance).tail()

3007    Incredible!
3008    Incredible!
3009    Incredible!
3010    Incredible!
3011    Incredible!
Name: prices, dtype: object

In [89]:
stock.apply(lambda stock_price: stock_price + 1).tail()

3007    773.88
3008    772.07
3009    774.18
3010    772.61
3011    783.22
Name: prices, dtype: float64

## Mapping items in series

In [98]:
pokemon_names = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [99]:
pokemon_types = pd.read_csv("data/pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [100]:
pokemon_names.map(pokemon_types)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object

In [101]:
pokemon_names = pd.read_csv("data/pokemon.csv", usecols=["Pokemon"], squeeze=True)
pokemon_types = pd.read_csv("data/pokemon.csv", index_col="Pokemon", squeeze=True).to_dict()

In [102]:
pokemon_names.map(pokemon_types)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, Length: 721, dtype: object